{
  "enclosure1_ip": "172.18.1.11",
  "enclosure1_user": "dcs",
  "enclosure1_password": "dcs",
  "storage_system1_ip": "172.18.11.11",
  "storage_system1_user": "dcs",
  "storage_system1_password": "dcs",
  "storage_system2_ip": "172.18.11.12",
  "storage_system2_user": "dcs",
  "storage_system2_password": "dcs",
  "store_virtual_ip": "172.18.30.1",
  "store_virtual_user": "dcs",
  "store_virtual_password": "dcs",
  "logical_switch1_ip": "172.19.1.11",
  "logical_switch2_ip": "172.19.1.12",
  "logical_switch_ssh_user": "dcs",
  "logical_switch_ssh_password": "dcs",
  "server_hardware_ip": "172.18.6.11",
  "server_hardware_username": "dcs",
  "server_hardware_password": "dcs",
  "server_hardware2_ip": "172.18.6.12",
  "server_hardware2_username": "dcs",
  "server_hardware2_password": "dcs",
  "rack_server_hardware_ip": "172.18.6.5",
  "hp_ipdu_ip": "172.18.8.12",
  "hp_ipdu_username": "dcs",
  "hp_ipdu_password": "dcs",
  "san_manager_ip": "172.18.15.1",
  "san_manager_username": "dcs",
  "san_manager_password": "dcs"
}
