{
  "enclosure1_ip": "172.18.1.11",
  "enclosure1_user": "dcs",
  "enclosure1_password": "dcs",
  "storage_system1_ip": "172.18.11.11",
  "storage_system1_user": "dcs",
  "storage_system1_password": "dcs",
  "store_virtual_ip": "172.18.30.1",
  "store_virtual_user": "dcs",
  "store_virtual_password": "dcs"
}
