require_relative './../lib/oneview-sdk'
require 'pry'

@client = OneviewSDK::Client.new(
  url: 'https://oneview.example.com', # or set ENV['ONEVIEWSDK_URL']
  user: 'Administrator',  # or set ENV['ONEVIEWSDK_USER']
  password: 'secret123',  # or set ENV['ONEVIEWSDK_PASSWORD']
  ssl_enabled: false
)

## This setting allows the SDK to flush messages to the screen as it is being run.
#  # It defaults to true when a client is created, and can be set to false in order
#  # to only flush at the end of execution.
# STDOUT.sync = false

# This setting allows for use of the shortened name of the resources, like OneviewSDK::<Resource_name>,
  # when referring to OneviewSDK::<API_version>::Thunderbird::<Resource_name>
# OneviewSDK::API300.variant='Thunderbird'


puts "Connected to OneView appliance at #{@client.url}\n\n"


# Instance variables for examples:
# @server_hardware_type_uri = '/rest/server-hardware-types/11111111-1111-1111-1111-111111111111'
# @enclosure_group_uri = '/rest/enclosure-groups/11111111-1111-1111-1111-111111111111'
# @enclosure_hostname = '172.1.1.11'
# @enclosure_username = 'Administrator'
# @enclosure_password = 'password123'
# @server_hardware_hostname = '172.1.1.12'
# @server_hardware_username = 'Administrator'
# @server_hardware_password = 'password123'
# @storage_system_ip = '172.18.11.11'
# @storage_system_username = 'Administrator'
# @storage_system_password = 'password123'
# @firmware_bundle_path = 'hp-firmware-a1b08f8a6b-HPGH-1.1.i386.rpm'
# @sas_interconnect_type = 'Synergy 12Gb SAS Connection Module'
