require_relative './../lib/oneview-sdk-ruby'
require 'pry'

@client = OneviewSDK::Client.new(
  url: 'https://oneview.example.com', # or set ENV['ONEVIEWSDK_URL']
  user: 'Administrator',  # or set ENV['ONEVIEWSDK_USER']
  password: 'secret123',  # or set ENV['ONEVIEWSDK_PASSWORD']
  ssl_enabled: false
)

puts "Connected to OneView appliance at #{@client.url}"


# Instance variables for examples:
# @server_hardware_type_uri = '/rest/server-hardware-types/11111111-1111-1111-1111-111111111111'
# @enclosure_group_uri = '/rest/enclosure-groups/11111111-1111-1111-1111-111111111111'
# @enclosure_hostname = '172.1.1.11'
# @enclosure_username = 'Administrator'
# @enclosure_password = 'password123'
# @server_hardware_hostname = '172.1.1.12'
# @server_hardware_username = 'Administrator'
# @server_hardware_password = 'password123'
# @storage_system_ip = '172.18.11.11'
# @storage_system_username = 'Administrator'
# @storage_system_password = 'password123'
