name: Docker Image CI

on:
  release:
    types:
      - created
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        name: Checkout code
      - name: Release Gem
        if: contains(github.ref, 'refs/tags/v')
        uses: cadwallion/publish-rubygems-action@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          RUBYGEMS_API_KEY: ${{secrets.RUBYGEMS_API_KEY}}
          RELEASE_COMMAND: rake release
      - run: |
              echo "GITHUB_REF=${GITHUB_REF:10}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build the tagged Docker image
        run: docker build . --file Dockerfile --tag hewlettpackardenterprise/hpe-oneview-sdk-for-ruby:${{ env.GITHUB_REF }}-OV5.6
      - name: Push the tagged Docker image
        run: docker push hewlettpackardenterprise/hpe-oneview-sdk-for-ruby:${{ env.GITHUB_REF }}-OV5.6
